{% load static %}
<footer class="footer">
	<div class="foot-block">
		<div class="referencat">
			<div class="fotot">
				<a href="https://www.facebook.com/InvadersBasket/"><img src="{% static 'footer_logos/001-facebook.png' %}"></a> 
			</div>
			<div class="fotot">
				<a href="https://www.instagram.com/invaders_basket/"><img src="{% static 'footer_logos/011-instagram.png' %}"></a>
			</div>
			<div class="fotot">
				<a href="https://twitter.com/invaders_basket"><img src="{% static 'footer_logos/013-twitter.png' %}"></a>
			</div>
			<div class="fotot">
				<a href="https://www.youtube.com/channel/UC7VdpZ6G3DBAagl5to-ZQZQ"><img src="{% static 'footer_logos/008-youtube.png' %}"></a>
			</div>
			
		</div>
	</div>
</footer>