<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
    
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div class="web-section">
<header>
	<div class="web-intro">
		<img src="{% static 'invaders.png' %}">
			
		<div class="headers">

			<h1>INVADERS</h1>
			<a href=""><h2>Akademi Basketbolli - Tiranë, Albania</h2></a>
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="daily.html">Daily News</a></li>
			<li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Rreth Nesh</a>
	            <div class="dropdown-content-css">
		           		<a href="{% url 'trofet' %}">Trofete</a>
		              <a href="kushtet.html">Kushtet dhe Rregulla</a>	            </div>          
       	   </li>
			<li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Teams</a>
	            <div class="dropdown-content-css">
		             
		             <a href="ekip.html">Ekipi U 16</a>
		            
	            </div>          
       	   </li>
			  <li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Evente dhe Organizime</a>
	            <div class="dropdown-content-css">
		             
		             <a href="{% url 'by-category' event.type %}">{{ event }}</a>
		          
	            </div>          
       	   </li>
			
			  <li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Trainers
	        </a>
	            <div class="dropdown-content-css">
		            
		             <a href="trainer.html">Mikel Serbo</a>
		           
	            </div>          
       	   </li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		</ul>
	</nav>






</header>


<div class="mySidebar">
	<input type="checkbox" id="check">
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <div class="sidebar">
        <div class="headeri">Blog</div>
        <ul>
          
          <li><a href="trainer.html">Trajner</a></li>
          <li><a href="kushtet.html">Kushtet</a></li>
       	   </ul>
       	  	<ul>
       	  		<li><a href="ekip.html">ekip</a> 
       	  			
       	  		</li>
       	  		<li><a href="daily.html">about</a></li>
       	  	</ul>
       	  
         
       
      </div>
</div>

<div class="team-section">	

		<div class="team-post">
			<div class="team-top">
				<div class="team-category">
					<h1>U 16</h1> 
				</div>
			</div>
			<div class="team-middle">
				<div class="team-photo">
					<img src="images/team">
				</div>
				<div class="team-description">
					<div class="team-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<h1>Trajner: 
						
								 <a href="trainer.html">Mikel Serbo</a>,<br> 
						
							</h1>
						
					</div>
				</div>	
			</div>
			
		</div>
	{% endfor %}
</div>














<footer class="footer">
	<div class="foot-block">
		<div class="referencat">
			<div class="fotot">
				<a href="https://www.facebook.com/InvadersBasket/"><img src="{% static 'footer_logos/001-facebook.png' %}"></a> 
			</div>
			<div class="fotot">
				<a href="https://www.instagram.com/invaders_basket/"><img src="{% static 'footer_logos/011-instagram.png' %}"></a>
			</div>
			<div class="fotot">
				<a href="https://twitter.com/invaders_basket"><img src="{% static 'footer_logos/013-twitter.png' %}"></a>
			</div>
			<div class="fotot">
				<a href="https://www.youtube.com/channel/UC7VdpZ6G3DBAagl5to-ZQZQ"><img src="{% static 'footer_logos/008-youtube.png' %}"></a>
			</div>
			
		</div>
	</div>
</footer>


</div>























<!-- scripti per swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Scriptet per bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--  scripti per sliderat ne homepage -->
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: false,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 3,
        stretch: 0,
        depth: 100,
        modifier: 3,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
      loop: true,
      autoplay: {
        delay: 5000000000,
        disableOnInteraction: false,
      },
    });
</script>







</body>
</html>