<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
    
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div class="web-section">
<header>
	<div class="web-intro">
		<img src="{% static 'invaders.png' %}">
			
		<div class="headers">

			<h1>INVADERS</h1>
			<a href=""><h2>Akademi Basketbolli - Tiranë, Albania</h2></a>
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="daily.html">Daily News</a></li>
			<li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Rreth Nesh</a>
	            <div class="dropdown-content-css">
		           		<a href="{% url 'trofet' %}">Trofete</a>
		              <a href="kushtet.html">Kushtet dhe Rregulla</a>	            </div>          
       	   </li>
			<li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Teams</a>
	            <div class="dropdown-content-css">
		             
		             <a href="ekip.html">Ekipi U 16</a>
		            
	            </div>          
       	   </li>
			  <li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Evente dhe Organizime</a>
	            <div class="dropdown-content-css">
		             
		             <a href="{% url 'by-category' event.type %}">{{ event }}</a>
		          
	            </div>          
       	   </li>
			
			  <li class="dropdown-css">
	            <a href="javascript:void(0)" class="dropbtn-css">Trainers
	        </a>
	            <div class="dropdown-content-css">
		            
		             <a href="trainer.html">Mikel Serbo</a>
		           
	            </div>          
       	   </li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		</ul>
	</nav>






</header>


<div class="mySidebar">
	<input type="checkbox" id="check">
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <div class="sidebar">
        <div class="headeri">Blog</div>
        <ul>
          
          <li><a href="trainer.html">Trajner</a></li>
          <li><a href="kushtet.html">Kushtet</a></li>
       	   </ul>
       	  	<ul>
       	  		<li><a href="ekip.html">ekip</a> 
       	  			
       	  		</li>
       	  		<li><a href="daily.html">about</a></li>
       	  	</ul>
       	  
         
       
      </div>
</div>


<div class="container">
<div class="conditions">
		<h1>Të nderuar prindër!</h1>
		<br>
<p>Shoqata Pro-Basket “INVADERS” Ju falenderon për besimin që i keni dhënë për edukimin sportiv të fëmijës Tuaj.
<br>
 

Nisur nga eksperienca e punës tonë si shoqatë, për të siguruar një mbarëvajtje sa më të mirë të aktiviteteve tona sportive, është e nevojshme që të punojmë së bashku si ekip duke respektuar rregulloren e brendshme të shoqatës.<br>
<br>
 

Shoqata Pro-Basket “INVADERS” për të realizuar objektivin e saj, ka marrë me qera ambjente sportive, ka marrë trajnerë dhe ndihmës trajner të kualifikuar, si dhe ka siguruar bazën materiale si topa basketbolli, kosha portative, etj.
<br>
<br>
Për të qënë sa më pranë nevojave të secilit, janë menduar dhe realizuar paketa stërvitore të ndara në, 2 seanca, 3 seanca, 4 seanca dhe 5 seanca stërvitore në javë. Këto reflektohen dhe në vlerën e kontributit.
<br>
<br>
Nga sa më sipër kërkohet mirëkuptimi dhe bashkëpunimi i Juaj që:
<br>
<br>
Shlyerja e detyrimeve të bëhet brënda datës 7 të çdo muaji, sipas paketave të stërvitjes.
Stërvitja zhvillohet në pallatin e Universitetit të Sporteve. Shoqërimi i fëmijëve bëhet nga vetë prindërit.
Fëmijët duhet të paraqiten për stërvitje në orarin e përcaktuar nga trajneri, të veshur vetëm me uniformën e ekipit, (Uniforma sigurohet nga shoqata kundrejt pagesës së vlerës në kosto nga ana Juaj)
Pjesmarja e fëmijëve në ndeshjet zyrtare, sigurohet me kontributin e prindërve. (Uniformat e ndeshjeve zyrtare sigurohen nga shoqata kundrejt pagesës së vlerës në kosto nga ana Juaj).
Faleminderit për mirëkuptimin!
<br>
 <br><br>

<strong>MIKEL SËRBO</strong>
<br>
KRYETAR</p>
</div>


</div>













<footer class="footer">
	<div class="foot-block">
		<div class="referencat">
			<div class="fotot">
				<a href="https://www.facebook.com/InvadersBasket/"><img src="{% static 'footer_logos/001-facebook.png' %}"></a> 
			</div>
			<div class="fotot">
				<a href="https://www.instagram.com/invaders_basket/"><img src="{% static 'footer_logos/011-instagram.png' %}"></a>
			</div>
			<div class="fotot">
				<a href="https://twitter.com/invaders_basket"><img src="{% static 'footer_logos/013-twitter.png' %}"></a>
			</div>
			<div class="fotot">
				<a href="https://www.youtube.com/channel/UC7VdpZ6G3DBAagl5to-ZQZQ"><img src="{% static 'footer_logos/008-youtube.png' %}"></a>
			</div>
			
		</div>
	</div>
</footer>


</div>























<!-- scripti per swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Scriptet per bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--  scripti per sliderat ne homepage -->
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: false,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 3,
        stretch: 0,
        depth: 100,
        modifier: 3,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
      loop: true,
      autoplay: {
        delay: 5000000000,
        disableOnInteraction: false,
      },
    });
</script>







</body>
</html>