* {
	margin: 0;
	padding: 0;
}

:root {
	--Winter : #e8e5de;


	--red: #BD1D2E;
	--darkred: #AB1829;
	--Portokalli : #E4A216;
	--Black: black;
	--gri : #888;
	--griH : #666;


	--blue : #00ffe3;
	--darkblue: #18AB9A;
	
	--White: white;

}	



a:hover {
	text-decoration: none;
}

body {
	background: #b4b4b4;
	font-family: Montserrat;
}

.web-section {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	background: white;
	position: relative;
	box-shadow: 0 0 10px;
}

header {
	position: relative;
	height: 250px;

}

header .intro {

	text-align: center;
	padding-top: 50px;
}

header .intro h1 {


}
header .intro h2 {
	color: #666;
	font-size: 24px;
}




header img {
	width: 200px;
	position: absolute;
	left:10px;
	top: -10px;

}

nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 40px;
	background: orange;
	padding: 9px;
}

nav ul {
	list-style: none;
	display: flex;
	


}





nav ul li a {
	padding: 9px;
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
		font-size: 16px;
	
}

nav ul li a:hover {
	
	color: black;
		transition: 0.15s ease-in-out;
}









section {
	
	background: black;
	width: 100%;
	display: flex;
}


.tekst-section {
	width: 50%; 
	color: white;
	text-align: center;

	padding: 50px;
}

.tekst-section h1 {
	color: #E4A216;
}

.tekst-section p {

	line-height: 2em;
	letter-spacing: 1px;
	text-align: justify;
	margin-top: 30px;
}






.image-section {
	width:50%;
	padding: 50px;
	padding-bottom: 150px;
}


.image-section img {
	max-width: 600px;
	
	width: 100%;
	-webkit-box-reflect: below 1px  linear-gradient(transparent, transparent, #0006);

}










article {
	background: coral;
	
	width: 100%;
	box-shadow: inset 0 0 5px;
	padding: 45px;
}



.post-container {
	
	width: 100%;
	

	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, auto));
	grid-template-rows: minmax(250px, auto);
	grid-auto-flow: dense;
	grid-gap: 50px;
	
}



.box {
	display: grid;
	width: 100%;
	height: 250px;
	background: var(--Winter);
	margin: 0 auto;
	box-shadow: inset 0 0 5px;
}



footer {
	width: 100%;
	position: absolute;
	border: 0;
	background: purple;
}


@media screen and (max-width: 1000px) {
	
	header img {
		display: none;
	}

	section {
	
		background: black;
		width: 100%;
		display: block;
	}


	.tekst-section {
		width: 80%; 
		
		margin: 0 auto;
		padding: 0;
		padding-top: 50px;
		padding-bottom: 50px;
	}



	.tekst-section p {

		text-align: left;

	}






	.image-section {
		width:80%;
		padding: 0;
		padding-bottom: 150px;
		margin: 0 auto;
	}





	article {

		padding: 0;
		padding-top: 50px;
	}



	.post-container {
		
		width: 80%;
		


		
	}










}