{% extends 'blog/base.html' %}

{% block content %}


<div class="team-section">	
	{% for team in teams %}
		<div class="team-post">
			<div class="team-top">
				<div class="team-category">
					<h1>{{ team.category}}</h1> 
				</div>
			</div>
			<div class="team-middle">
				<div class="team-photo">
					<img src="{{ team.image.url }}">
				</div>
				<div class="team-description">
					<div class="team-content">
						<p>{{ team.description }}</p>
							<h1>Trajner: 
							{% for train in team.trainers.all %}
								 <a href="{% url 'trainer' train.first %}">{{ train }}</a>,<br> 
							{% endfor %}
							</h1>
						</h1>
					</div>
				</div>	
			</div>
			<div class="team-bottom">
				
			</div>	
		</div>
	{% endfor %}
</div>
{% endblock %}
	